/* CSS for ebook */
/* tooltip box */
.anchorjs-link:after {
  display: inline-block;
  transition: opacity .25s linear;
  font-family: Verdana, sans-serif;
  font-size: 0.75ex;
  font-weight: 100;
  padding: 0.5ex 1.5ex;
  background: #444;
  color: #fff;
  border-radius: 0.6ex;
  vertical-align: 0.8ex;
}
/* tooltip arrow */
.anchorjs-link:before {
  content: '';
  display: inline-block;
  border-top: 0.3ex solid transparent;
  border-right: 0.5ex solid #444;
  border-bottom: 0.3ex solid transparent;
  vertical-align: 0.35ex;
}
.anchorjs-link:hover:after {
  background-color: #666;
}
.anchorjs-link:hover:before {
  border-right-color: #666;
}